* {
    padding: 0;
    margin: 0;
}

html {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.number {
    height: 100px;
    width: 100px;
    border: 1px solid #000000;
    background: #ffca28;
    display: inline-block;
    margin: 3px;
    text-align: center;
    float: left;
    font-size: 50px;
    color: #616161;
}

.wrapper {
    height: 432px;
    width: 432px;
    border: 1px solid #000000;
    position: absolute;
    top: 0;
    left: 0;
    background: #03a9f4;

}

.empty {
    height: 100px;
    width: 100px;
    border: 1px solid #000000;
    display: inline-block;
    margin: 3px;
    text-align: center;
    float: left;
    font-size: 50px;

}

.one:before {
    content: '1';
}

.two:before {
    content: '2';
}

.three:before {
    content: '3';
}

.four:before {
    content: '4';
}

.five:before {
    content: '5';
}

.six:before {
    content: '6';
}

.seven:before {
    content: '7';
}

.eight:before {
    content: '8';
}

.nine:before {
    content: '9';
}

.ten:before {
    content: '10';
}

.eleven:before {
    content: '11';
}

.twelve:before {
    content: '12';
}

.thirteen:before {
    content: '13';
}

.fourteen:before {
    content: '14';
}

.fifteen:before {
    content: '15';
}